html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* height: 100vh; */
  justify-content: center;
  max-width: 30rem;
}

html {
  /* height: 100vh; */
  background-color: var(--calm-greyish-white);
}

:root {
  --deep-soothing-ocean: #8794ca;
  --calm-greyish-white: #c7c7c7;
  --lilly-lilac: #c8a2c8;
  --aubergine-purple: #390917;
  --salmon-pink: palevioletred;
  --clear-white: #ddd;
  --purple-supreme: #784890;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* flip-card with affirmation */
.flip_box {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip_box_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip_box:hover .flip_box_inner {
  transform: rotateX(180deg);
}

.flip_box_front,
.flip_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side */
.flip_box_front {
  background-color: #bbb;
  color: black;
  text-align: center;
  padding: 50px 0;
}

/* Style the back side */
.flip_box_back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
  text-align: center;
  padding: 50px 0;
}

/* navigation menu
.navbar {
  background-color: #555;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
 */
